@font-face {
    font-family: HappyMonkey;
    src: url(font/HappyMonkey-Regular.ttf);
}

body {
    font-family: HappyMonkey;
    text-align: center;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 1px black;
}

#portrait {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #EFB0C9;
    margin-bottom: 10px
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    height: 400px;
    background-image: url(img/gift-cover.jpg);
    background-size: cover;
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url(img/cheers.gif);
}

#gift-img-happy:hover {
    background-image: url(img/happy.gif);
}

#gift-img-hot:hover {
    background-image: url(img/hot.gif);
}

#gift-img-genius:hover {
    background-image: url(img/genius.gif);
}

#gift-img-badass:hover {
    background-image: url(img/badass.gif);
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 20px;
}

.gift-hint {
    margin-top: 0;
}

#footer {
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}

a {
    color: white;
}